.widget-area {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .search-bar {
        .form-control {
            box-shadow: none;

            &::placeholder {
                color: rgba(0, 0, 0, 0.336);
            }
        }
    }

    .filter {
        .filter-label {
            font-size: 1.5rem;
            margin-bottom: 14px;
        }

        .filter-vals {
            .price {
                font-size: 14px;
            }
        }
    }

    .categories {
        .category-label {
            font-size: 1.5rem;
        }
        .category-items {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 24px;

            .lead {
                font-size: 15px;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .counted-categories {
                    font-size: 18px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}
