.product-container {
    padding: 60px 24px;

    .product {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;

        .product-image {
            min-height: 400px;
            width: 60%;
            background-color: #fff;
            display: flex;
            align-items: center;
            gap: 12px;

                img {
                    object-fit: scale-down;
                    width: 100%;
                    transition: all .2s ease;
                    cursor: zoom-in;
                }

            .img-1 {
                height: 100%;
                width: 100%;
                background-color: #fff;


                img {
                    scale: 0.8;
                    overflow: hidden;

                    &:hover {
                        scale: 0.9;
                    }
                }
            }

            .img-2 {
                height: 100%;
                width: 100%;
                overflow: hidden;
                background-color: #fff;

                img {
                    scale: 1.3;

                    &:hover {
                        scale: 1.5;
                    }

                }
            }
        }

        .product-details {
            min-height: 400px;
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 14px;

            .product-route {
                color: rgba(0, 0, 0, 0.534);
                font-size: 14px;
                font-weight: 400;
            }

            .product-title,
            .product-price {
                font-size: 2rem;
            }

            .product-desc {
                font-size: 15px;
                font-weight: 300;
                letter-spacing: 1px;
            }

            .product-actions {
                input {
                    box-shadow: none;
                    outline: none;
                }
            }

        }
    }
}