.product-container {
    padding: 60px 24px;

    .product {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;

        .product-image {
            min-height: 400px;
            width: 60%;
            background-color: #fff;
            display: flex;
            align-items: center;

            img {
                object-fit: scale-down;
                width: 100%;
                transition: all .2s ease;
                cursor: zoom-in;
            }

            .img-1 {
                height: 100%;
                width: 100%;
                background-color: #fff;


                img {
                    scale: 0.8;
                    overflow: hidden;

                    &:hover {
                        scale: 0.9;
                    }
                }
            }

            .img-2 {
                height: 100%;
                width: 100%;
                overflow: hidden;
                background-color: #fff;

                img {
                    scale: 1.4;

                    &:hover {
                        scale: 1.6;
                    }

                }
            }
        }

        .product-details {
            min-height: 400px;
            width: 40%;
            display: flex;
            flex-direction: column;

            .product-route {
                color: grey;
                font-size: 12px;
                font-weight: 400;

                .route-pathname {
                    font-size: 18px;
                    text-transform: capitalize;
                }
            }

            .product-category {
                text-transform: capitalize;
                font-size: 12px;
                color: grey;
                font-weight: 400;
            }

            .product-title,
            .product-price {
                font-size: 1.7rem;
            }

            .product-price {
                margin-bottom: 12px;
            }

            .product-info {
                font-size: 12px;
                color: grey;
            }


            .product-desc {
                font-size: 12px;
                font-weight: 400;
            }

            .product-actions {
                .btn {
                    font-size: 12px;
                    font-weight: 500;
                    height: 50px;
                    &:hover {
                        .icon {
                            color: white !important;
                        }
                    }
                }

                .no-login-msg {
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0;
                    margin-bottom: 4px;
                }
            }

        }
    }
}