.no-results {
    width: 20%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .no-items_line_1 {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
    }

    .no-items_line_2 {
        text-align: center;
        font-size: 11px;
        color: rgba(0, 0, 0, 0.692);
    }

    .btn {
        background-color: #000;
        color: #fff;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        margin-top: 24px;
    }
}