.navbar {
    z-index: 9;
    height: 50px;
    position: fixed;
    top: 14px;
    left: 50%;
    transform: translate(-50%);
    transition: all .2s ease;

    .active {
        border-bottom: 2px solid white !important;
    }

    .nav-wrapper {
        border-radius: 24px;
        background-color: #000;
        transition: all .2s ease;
        height: 100%;

        &:hover {
            transform: scale(1.2);
        }
    }

    .nav-link {
        font-weight: 500;
        font-size: 11px;
        color: #fff;
        border-bottom: 2px solid rgb(0, 0, 0);

        &:hover {
            border-bottom: 2px solid white;
        }
    }

    .icon {
        cursor: pointer;
    }

}